.head
	table.center
		tr
			td
				div.headInnerDiv(id="home")
					a.fillDiv(href="./index.html") Home
			td
				div.headInnerDiv(id="specs")
					a.fillDiv(href="./specs.html") Specification
			td
				div.headInnerDiv(id="makers")
					a.fillDiv(href="./makers.html") Makers