doctype html
html
	head
		title Home | Cars
		include ./source.jade
	body
		include ./head.jade

		h2 Welcome to my page about cars!

		img.center(src="beater1.jpg" usemap="#carmap" alt="Beater Car" title="Beater Car")
		map(name="carmap")
			a(shape="rect" coords="340,87,399,41" href="https://en.wikipedia.org/wiki/Window" alt="A Window" title="A Window")
			a(shape="circle" coords="270,192,30" href="https://en.wikipedia.org/wiki/Wheel" alt="A Wheel" title="A Weel")
			a(shape="poly" coords="43,120,195,87,322,90,153,134" href="https://en.wikipedia.org/wiki/Hood_%28vehicle%29" alt="A Hood" title="A Hood")
		include ./footer.jade