doctype html
html
	head
		title Makers | Cars
		include ./source.jade
	body
		include ./head.jade
		h2 2015 Toyota Corolla Sedan Features &amp; Specs 
		.specTable
			table.right.makers
				tr.makers
					th.makers Brand
					th.makers Is North American
					th.makers Makes both cars and trucks
					th.makers Makes Camaros
					th.makers Makes Vipers
				tr.makers
					td.makers Toyota
					td.makers No
					td.makers Yes
					td.makers No
					td.makers No
				tr.makers
					td.makers Chevy
					td.makers Yes
					td.makers Yes
					td.makers Yes
					td.makers No
				tr.makers
					td.makers GMC
					td.makers Yes
					td.makers No
					td.makers No
					td.makers No
				tr.makers
					td.makers Dodge
					td.makers Yes
					td.makers Yes
					td.makers No
					td.makers Yes

		.niceSaying
			p.
				I know a lot about cars, man. I can look at any car's headlights and tell you exactly which way it's coming. #[br]-Mitch Hedberg 
		include ./footer.jade				