/*Change the background to pink*/
body{
	background-color: #FFD1D8;
}
/*Give the image a border*/
img{ 
   border:10px solid #021a40;
}
/*changes the hover color of the link*/
a:hover {
	background-color: #FF704D;
}
/*changes the alignment of the first paragraph*/
p.first{
	text-align: right;
}